<%- include("header"); %>

<div class="error_card">
    <div class="error_title">
        <h1>Oops! Page Not Found</h1>
    </div>
    <div class="description">
    <p>
        The page you are looking for does not exist. It might have been moved, deleted, or never existed in the first place.
    </p>    
    <p>
        Don't worry! You can head back to our <a href="http://localhost:8080/posts">homepage</a> or explore <br> our latest <a href="/posts">blog posts</a>.
    </p>
    </div>
</div>

<footer style="position:fixed;">
    <p>&copy; 2025 MyBlog. All rights reserved.</p>
</footer>
</body>