<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">MyBlog</div>
        <ul class="nav-links">
            <li><a href="http://localhost:8080/posts">Home</a></li>
            <li><a href="/About-us">About</a></li>
            <li><a href="http://localhost:8080/Contact">Contact</a></li>
            <li><a href="http://localhost:8080/admin">Admin</a></li>
        </ul>
    </nav>
